* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header, main, footer {
    font-family: Felidae, Rockwell, Didot;
    color: black;
}
header, main {
    padding: 0 20px;
}

footer {
    background-color: #ddd;
}

code {
    display: block;
}

li {
    list-style: none;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 750px;
  }
  
  code {
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 4px;
  }

h1 {
  font-size: 72px;
}

span {
  font-size: 24px;
  font-weight: bold;
  margin-left: 50px;
}

img {
  object-fit: contain;
  height: 350px; /* Устанавливаемая высота */
  float: right;
  width: 600px;
}

p {
  font-size: 20px;
  width: 400px;
  margin-left: 50px;
}

/* Стили для ссылки */
a {
  color: black;
  text-decoration: none; /* Убираем подчеркивание */
  font-size: 20px; /* Размер шрифта */
  font-weight: bold; /* Жирный шрифт */
  margin-left: 50px;
}

a:hover {
  color: burlywood; /* Цвет ссылки при наведении */
}

h2, h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  border-bottom: 2px solid black; /* Нижняя граница */
  padding: 10px; /* Отступ снизу */
}

h3 {
  font-size: 20px;
  padding-bottom: 10px; /* Отступ снизу */
  margin-left: 20px;
}
/* Стили для списка ul */
ol {
  list-style-type: disc; /* Классические диски для списка */
  margin-left: 50px;
}

/* Стили для элементов списка li */
ol li {
  font-family: Felidae, Rockwell, Didot;
  font-size: 20px;
  margin-bottom: 5px;
  line-height: 1.5; /* Увеличение межстрочного интервала */
}

/* Псевдокласс hover для элементов списка */
ol li:hover {
  color: burlywood; /* цвет при наведении */
  cursor: pointer; /* Меняем курсор на указатель */
}

#navigation_list {
    font-size: 24px;
    li {
      display: inline-block;
      margin-right: 20px;
      vertical-align: top;
    }
}

.list {
    font-family: Felidae, Rockwell, Didot;
    text-transform: none;
    font-size: 20px;
    color: black; /* Темный цвет для элементов списка */
    margin-bottom: 5px;
    line-height: 1.5; /* Увеличение межстрочного интервала */
    margin-left: 50px;
}

.svg {
    height: 100px;
    width: 200px;
}

.footer_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_list:first-child li a {
    font-size: 36px;
}